<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">


</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav"
			style="background: #4682B4">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/"
					style="color: white">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarAluno"
					style="color: white">Cadastrar aluno</a></li>

				</li>
			</ul>
		</div>
	</nav>



	<div th:each="aluno : ${aluno}" class="centralizarObjeto">
		<form method="post">
			
			<div>
				<p>Nome</p>
				<input type="text" th:value="${aluno.codigo}" name="codigo" readonly="readonly" />
			</div>
			
			<div>
				<p>Nome</p>
				<input type="text" th:value="${aluno.nome}" name="nome" />
			</div>

			<div>
				<p>Idade</p>
				<input type="text" th:value="${aluno.idade}" name="idade" />
			</div>

			<div>
				<p>Quantidade de Hora</p>
				<input type="text" th:value="${aluno.valorHora}" name="valorHora" />
			</div>

			<div>
				<p>Valor da Hora</p>
				<input type="text" th:value="${aluno.qtdHora}" name="qtdHora" />
			</div>
			<br>



			<button class="btn btn-primary" type="submit">Alterar</button>

		</form>
	</div>
</body>


<style>
.centralizarObjeto {
	width: 1000px;
	margin-left: 700px;
}

input[type=text] {
	width: 50%;
}
</style>



</html>