<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar Turma</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>

	 <div th:replace="menu :: navbar">

    </div>

	
	<div class="centralizarObjeto">
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Matricula</th>
				<th>Horas Trabalhadas</th>
				<th>Valor Hora Trabalhada</th>
				<th>Salario</th>
			<tr>
		</thead>
		<tbody>
			<tr th:each="professor : ${professor}">
				<td><span th:text="${professor.id}" ></span></td>
				<td><span th:text="${professor.nome}" ></span></td>
				<td><span th:text="${professor.idade}" ></span></td>
				<td><span th:text="${professor.matricula}" ></span></td>
				<td><span th:text="${professor.qtdHorasTrabalhadas}" ></span></td>
				<td><span th:text="${professor.valorHoraTrabalhada}" ></span></td>
				<td><span th:text="${professor.salario}" ></span></td>
			<tr>
		</tbody>
	</table>

		<form method="post" th:object="${turma}">
		
		<div>
			<p>Nome</p>
			<input type="text" value="" name="nome" class="nomeEstilo" />
		</div>
		<div>
			<p>Sala de Aula</p>
			<input type="text" value="" name="salaDeAula" class="idadeEstilo" />
		</div>
		<br>
		<button class="btn btn-primary" type="submit">Enviar</button>
		</form>

	<style>
		.centralizarObjeto{
			width: 1100px;
			margin-left: auto;
			margin-right: auto;
			border: medium;
			border: 1px solid blue;	
		
		}
	
	</style>
</html>