<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Cadastrar Professor</title>
	</head>
	<body>
	<form class="container" method="post">
		<div>
			Nome: <input  type="text" value="" name="nome"/>
		</div>
		<div>
			Idade: <input  type="text" value="" name="idade"/>
		</div>
		<div>
			Matricula: <input  type="text" value="" name="matricula"/>
		</div>
		<div>
			Horas Trabalhadas: <input  type="text" value="" name="qtdHorasTrabalhadas"/>
		</div>
		<div>
			Valor Hora Trabalhada: <input  type="text" value="" name="valorHoraTrabalhada"/>
		</div>
		<button type="submit">Enviar</button>
	</form>

	</body>
</html>