<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
			<title>Editar Professor</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		</head>
		<body>
			<div th:each="professor : professor" class="container">
				<form method="post">
					<div>
				    	Codigo: <input type="text" th:value="${professor.id}" readonly="readonly" class="codigo-css"/>
					</div>
					<div>
			        	Nome: <input type="text" th:value="${professor.nome}" name="nome"/>
					</div>
					<div>
			        	Idade: <input type="text" th:value="${professor.idade}" name="idade"/>
					</div>
					<div>
			        	Matricula: <input type="text" th:value="${professor.matricula}" name="matricula"/>
					</div>
					<div>
			        	Quantidade de Horas: <input type="text" th:value="${professor.qtdHorasTrabalhadas}" name="qtdHorasTrabalhadas"/>
					</div>
					<div>
			        	Valor da Hora: <input type="text" th:value="${professor.valorHoraTrabalhada}" name="valorHoraTrabalhada"/>
					</div>
					<button type="submit">Alterar</button>
				</form>
			</div>
		</body>
	</html>