<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lista de Professores</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<h1>Tabela de Professores</h1>
	
	<table class="container">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Matricula</th>
				<th>Horas Trabalhadas</th>
				<th>Valor Hora Trabalhada</th>
				<th>Salario</th>
			<tr>
		</thead>
		<tbody>
			<tr th:each="professor : ${professores}">
				<td><span th:text="${professor.id}" ></span></td>
				<td><span th:text="${professor.nome}" ></span></td>
				<td><span th:text="${professor.idade}" ></span></td>
				<td><span th:text="${professor.matricula}" ></span></td>
				<td><span th:text="${professor.qtdHorasTrabalhadas}" ></span></td>
				<td><span th:text="${professor.valorHoraTrabalhada}" ></span></td>
				<td><span th:text="${professor.salario}" ></span></td>
				<td><a   th:href="${(#mvc.url('PCM#deletarProfessor').arg(0, professor.id)).build()}">Deletar</a></td>
			    <td><a   th:href="${(#mvc.url('PCM#editarProfessorMetodo').arg(0, professor.id)).build()}">Editar</a></td>
			<tr>
		</tbody>
	</table>
	
</body>
</html>